html {
  background-color: #ebefef;
}

body {
    font-family: 'Work Sans', sans-serif;
}

@media all and (min-width: 800px) {
  body {
    width: 75%;
    margin: auto;
  }
}

h1, h2 {
  text-align: center;
  color: #322f35;
}

p {
  color: grey;
  padding: 10px;
}

pre {
  margin: 10px !important;
}

ul li {
  list-style-type: none;
}
